.margen1 {
    /* margin: 30px;  */
    /* margin: 10px 20px 10px 30px; */
    margin: 20px 30px;
    background: gold;
    /* width: 100%; */
}

.padding1 {
    padding: 30px;
    background-color: lightblue;
}

.margen2 {
    margin: 40px;
    padding: 10px;
    background-color: lightcoral;
}